@model ProductViewModel


<div class="col-lg-9 col-12 mb-lg-0 mb-4">
    <div class="card mb-3">
        <div class="card-header">
            <ul class="nav nav-tabs card-header-tabs" id="product-tabs" role="tablist">
                <li class="nav-item" role="presentation">
                    <button class="nav-link active" data-bs-toggle="tab" data-bs-target="#form-tabs-general" type="button" role="tab">Genel</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" data-bs-toggle="tab" data-bs-target="#form-tabs-stock" type="button" role="tab">Envanter</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" data-bs-toggle="tab" data-bs-target="#form-tabs-seo" type="button" role="tab">SEO</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" data-bs-toggle="tab" data-bs-target="#form-tabs-image" type="button" role="tab">Görsel</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" data-bs-toggle="tab" data-bs-target="#form-tabs-categories" type="button" role="tab">Kategoriler</button>
                </li>
            </ul>
        </div>

        <div class="tab-content">
            <!-- GENEL -->
            <div class="tab-pane fade show active" id="form-tabs-general" role="tabpanel">
                <div class="row g-3 p-3">
                    <input type="hidden" id="productId" value="@Model.Id" asp-for="Id"/>
                    <input type="hidden" asp-for="Description" />

                    <!-- Ürün Kodu -->
                    <div class="col-md-12">
                        <div class="row">
                            <label class="col-sm-3 col-form-label text-sm-start" for="Code">Ürün Kodu</label>
                            <div class="col-sm-9">
                                @Html.TextBoxFor(m => m.Code, new { @class = "form-control", @id = "Code" })
                            </div>
                        </div>
                    </div>
                    <!-- Ürün Adı -->
                    <div class="col-md-12">
                        <div class="row">
                            <label class="col-sm-3 col-form-label text-sm-start" for="Name">Ad</label>
                            <div class="col-sm-9">
                                @Html.TextBoxFor(m => m.Name, new { @class = "form-control", @id = "Name" })
                            </div>
                        </div>
                    </div>
                    <!-- Marka -->
                    <div class="col-md-12">
                        <div class="row">
                            <label class="col-sm-3 col-form-label text-sm-start" for="BrandId">Marka</label>
                            <div class="col-sm-9">
                                <select asp-for="BrandId" asp-items="ViewBag.Brands" class="form-select">
                                    <option>Belirtilmemiş</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <!-- Barkod -->
                    <div class="col-md-12">
                        <div class="row">
                            <label class="col-sm-3 col-form-label text-sm-start" for="Barcode">Barkod</label>
                            <div class="col-sm-9">
                                @Html.TextBoxFor(m => m.Barcode, new { @class = "form-control", @id = "Barcode" })
                            </div>
                        </div>
                    </div>

                    <hr class="my-4 mx-n4">

                    <!-- Fiyat -->
                    <div class="col-md-12">
                        <div class="row">
                            <label class="col-sm-3 col-form-label text-sm-start" for="Price">Fiyat</label>
                            <div class="col-sm-9">
                                @Html.TextBoxFor(m => m.Price, new { @class = "form-control", @type = "number", step = "0.01", @id = "Price" })
                            </div>
                        </div>
                    </div>
                    <!-- Para Birimi -->
                    <div class="col-md-12">
                        <div class="row">
                            <label class="col-sm-3 col-form-label text-sm-start" for="Currency">Para Birimi</label>
                            <div class="col-sm-9">
                                <select asp-for="Currency" asp-items="ViewBag.Currencies" class="form-select">
                                    <option>Belirtilmemiş</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <!-- Kdv Dahil Mi -->
                    <div class="col-md-12">
                        <div class="row align-items-center">
                            <label class="col-sm-3 col-form-label text-sm-start" for="VatInc">KDV Dahil</label>
                            <div class="col-sm-9">
                                <div class="form-check">
                                    @Html.CheckBoxFor(m => m.VatInc, new { @class = "form-check-input", @id = "VatInc" })
                                    <label class="form-check-label" for="VatInc">Evet</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Kdv Oranı -->
                    <div class="col-md-12">
                        <div class="row">
                            <label class="col-sm-3 col-form-label text-sm-start" for="VatRate">KDV Oranı (%)</label>
                            <div class="col-sm-9">
                                <select asp-for="VatRate" asp-items="ViewBag.VatRates" class="form-select"></select>
                            </div>
                        </div>
                    </div>

                    <hr class="my-4 mx-n4">
                    <!-- Birim -->
                    <div class="col-md-12">
                        <div class="row">
                            <label class="col-sm-3 col-form-label text-sm-start" for="Unit">Birim</label>
                            <div class="col-sm-9">
                                <select asp-for="Unit" asp-items="ViewBag.Units" class="form-select">
                                    <option>Belirtilmemiş</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <!-- Ağırlık -->
                    <div class="col-md-12">
                        <div class="row">
                            <label class="col-sm-3 col-form-label text-sm-start" for="Weight">Ağırlık (kg)</label>
                            <div class="col-sm-9">
                                @Html.TextBoxFor(m => m.Weight, new { @class = "form-control", @type = "number", step = "0.01", @id = "Weight" })
                            </div>
                        </div>
                    </div>
                    <!-- Uzunluk -->
                    <div class="col-md-12">
                        <div class="row">
                            <label class="col-sm-3 col-form-label text-sm-start" for="Length">Uzunluk (cm)</label>
                            <div class="col-sm-9">
                                @Html.TextBoxFor(m => m.Length, new { @class = "form-control", @type = "number", step = "0.01", @id = "Length" })
                            </div>
                        </div>
                    </div>
                    <!-- Genişlik -->
                    <div class="col-md-12">
                        <div class="row">
                            <label class="col-sm-3 col-form-label text-sm-start" for="Width">Genişlik (cm)</label>
                            <div class="col-sm-9">
                                @Html.TextBoxFor(m => m.Width, new { @class = "form-control", @type = "number", step = "0.01", @id = "Width" })
                            </div>
                        </div>
                    </div>
                    <!-- Yükseklik -->
                    <div class="col-md-12">
                        <div class="row">
                            <label class="col-sm-3 col-form-label text-sm-start" for="Height">Yükseklik (cm)</label>
                            <div class="col-sm-9">
                                @Html.TextBoxFor(m => m.Height, new { @class = "form-control", @type = "number", step = "0.01", @id = "Height" })
                            </div>
                        </div>
                    </div>

                    <hr class="my-4 mx-n4">

                    <!-- Açıklama -->
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-sm-12">
                                <div id="full-editor">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- STOK & ÖLÇÜLER -->
            <div class="tab-pane fade" id="form-tabs-stock" role="tabpanel">
                <div class="row g-3 p-3">
                    <!-- Stok Miktarı -->
                    <div class="col-md-12">
                        <div class="row">
                            <label class="col-sm-3 col-form-label text-sm-start" for="StockQuantity">Stok</label>
                            <div class="col-sm-9">
                                @Html.TextBoxFor(m => m.StockQuantity, new { @class = "form-control", @type = "number", min = "0", @id = "StockQuantity" })
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- SEO -->
            <div class="tab-pane fade" id="form-tabs-seo" role="tabpanel">
                <div class="row g-3 p-3">
                    <!-- Meta Başlık -->
                    <div class="col-md-12">
                        <div class="row">
                            <label class="col-sm-3 col-form-label text-sm-start" for="MetaTitle">Meta Başlık</label>
                            <div class="col-sm-9">
                                @Html.TextBoxFor(m => m.MetaTitle, new { @class = "form-control", @id = "MetaTitle" })
                            </div>
                        </div>
                    </div>
                    <!-- Anahtar Kelimeler -->
                    <div class="col-md-12">
                        <div class="row">
                            <label class="col-sm-3 col-form-label text-sm-start" for="MetaKeywords">Anahtar Kelimeler</label>
                            <div class="col-sm-9">
                                @Html.TextBoxFor(m => m.MetaKeywords, new { @class = "form-control", @id = "MetaKeywords" })
                            </div>
                        </div>
                    </div>
                    <!-- Meta Açıklama -->
                    <div class="col-md-12">
                        <div class="row">
                            <label class="col-sm-3 col-form-label text-sm-start" for="MetaDescription">Meta Açıklama</label>
                            <div class="col-sm-9">
                                @Html.TextAreaFor(m => m.MetaDescription, new { @class = "form-control", rows = 3, @id = "MetaDescription" })
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- GÖRSEL -->
            <div class="tab-pane fade" id="form-tabs-image" role="tabpanel">
                @if (Model.Id > 0)
                {
                    <div class="row g-3 p-3">
                        <div class="col-12">
                            <div class="card">
                                <div class="card-body">
                                    <div class="dropzone needsclick" id="dropzone-multi">
                                        <div class="dz-message needsclick">
                                            Dosyaları buraya sürükleyin veya yüklemek için tıklayın
                                        </div>
                                        <div class="fallback">
                                            <input name="file" type="file" multiple />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
                else
                {
                    <div class="alert alert-danger">
                        Bu ürüne resim yüklemek için önce ürünü kaydetmeniz gerekmektedir.
                    </div>
                }
            </div>


            <!--KATEGORİ-->
            <div class="tab-pane fade" id="form-tabs-categories" role="tabpanel">
                @if (Model.Id > 0)
                {
                    <div class="row g-3 p-3">
                       
                        <table class="table table-bordered" id="productCategoryTable">
                            <thead>
                                <tr>
                                    <th>Kategori Yolu</th>
                                    <th>Sırası</th>
                                    <th>İşlemler</th>
                                </tr>
                            </thead>
                            <tbody class="table-border-bottom-3"></tbody>
                        </table>
                        <button type="button" class="btn btn-primary btn-sm" data-bs-toggle="modal" data-bs-target="#ProductCategoryModel">
                            Ürün Kategorisi Ekle | @Model.Name
                        </button>
                    </div>
                }
                else
                {
                    <div class="alert alert-danger">
                        Bu ürüne kategori eklemek için önce ürünü kaydetmeniz gerekmektedir.
                    </div>
                }
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="ProductCategoryModel" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-simple modal-edit-user modal-dialog-centered">
        <div class="modal-content p-3 p-md-5">
            <div class="modal-body">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                <div class="text-center mb-4">
                    <h3 class="mb-2">Ürün Kategorisi Ekle</h3>
                </div>

                <div id="productCategoryForm" class="row g-3">
                    <input type="hidden" id="ProductId" value="@Model?.Id" />

                    <div class="col-md-12 mt-3">
                        <div class="row">
                            <label class="col-sm-3 col-form-label text-sm-start" for="CategoryId">Kategori</label>
                            <div class="col-sm-9">
                                <select id="CategoryId" class="select2 form-select form-select-lg"></select>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-12 mt-3">
                        <div class="row">
                            <label class="col-sm-3 col-form-label text-sm-start" for="DisplayOrder">Sıra</label>
                            <div class="col-sm-9">
                                <input type="number" id="DisplayOrder" class="form-control" value="0" />
                            </div>
                        </div>
                    </div>

                    <div class="col-12 text-center mt-3">
                        <button type="button" id="btnSaveProductCategory" class="btn btn-primary me-sm-3 me-1">Kaydet</button>
                        <button type="button" class="btn btn-label-secondary" data-bs-dismiss="modal" aria-label="Close">Kapat</button>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>


