@model ProductViewModel


<div class="col-lg-9 col-12 mb-lg-0 mb-4">
    <div class="card mb-3">
        <div class="card-header">
            <ul class="nav nav-tabs card-header-tabs" id="product-tabs" role="tablist">
                <li class="nav-item" role="presentation">
                    <button class="nav-link active" data-bs-toggle="tab" data-bs-target="#form-tabs-general" type="button" role="tab">Ürün Bilgisi</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" data-bs-toggle="tab" data-bs-target="#form-tabs-stock" type="button" role="tab">Stok</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" data-bs-toggle="tab" data-bs-target="#form-tabs-variants" type="button" role="tab">Varyantlar</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" data-bs-toggle="tab" data-bs-target="#form-tabs-seo" type="button" role="tab">Arama Motorları (SEO)</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" data-bs-toggle="tab" data-bs-target="#form-tabs-image" type="button" role="tab">Resimler</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" data-bs-toggle="tab" data-bs-target="#form-tabs-categories" type="button" role="tab">Kategori Eşleştirmeleri</button>
                </li>
            </ul>
        </div>

        <div class="tab-content">
            <!-- Ürün Bilgisi -->
            <div class="tab-pane fade show active" id="form-tabs-general" role="tabpanel">
                <div class="row g-3 p-3">
                    <input type="hidden" id="productId" value="@Model.Id" asp-for="Id" />
                    <input type="hidden" asp-for="Description" />

                    <!-- Ürün Kodu -->
                    <div class="col-md-12">
                        <div class="row">
                            <label class="col-sm-3 col-form-label text-sm-start" for="Code">Ürün Kodu</label>
                            <div class="col-sm-9">
                                @Html.TextBoxFor(m => m.Code, new { @class = "form-control", @id = "Code" })
                            </div>
                        </div>
                    </div>
                    <!-- Ürün Adı -->
                    <div class="col-md-12">
                        <div class="row">
                            <label class="col-sm-3 col-form-label text-sm-start" for="Name">Ad</label>
                            <div class="col-sm-9">
                                @Html.TextBoxFor(m => m.Name, new { @class = "form-control", @id = "Name" })
                            </div>
                        </div>
                    </div>
                    <!-- Marka -->
                    <div class="col-md-12">
                        <div class="row">
                            <label class="col-sm-3 col-form-label text-sm-start" for="BrandId">Marka</label>
                            <div class="col-sm-9">
                                <select asp-for="BrandId" asp-items="ViewBag.Brands" class="form-select">
                                    <option value="">Belirtilmemiş</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <!-- Barkod -->
                    <div class="col-md-12">
                        <div class="row">
                            <label class="col-sm-3 col-form-label text-sm-start" for="Barcode">Barkod</label>
                            <div class="col-sm-9">
                                @Html.TextBoxFor(m => m.Barcode, new { @class = "form-control", @id = "Barcode" })
                            </div>
                        </div>
                    </div>

                    <!-- Üretici Numarası-->
                    <div class="col-md-12">
                        <div class="row">
                            <label class="col-sm-3 col-form-label text-sm-start" for="ManufacturerPartNumber">Üretici Numarası</label>
                            <div class="col-sm-9">
                                @Html.TextBoxFor(m => m.ManufacturerPartNumber, new { @class = "form-control", @id = "ManufacturerPartNumber" })
                            </div>
                        </div>
                    </div>


                    <!-- Üretici Numarası-->
                    <div class="col-md-12">
                        <div class="row">
                            <label class="col-sm-3 col-form-label text-sm-start" for="Gtin">Gtin</label>
                            <div class="col-sm-9">
                                @Html.TextBoxFor(m => m.Gtin, new { @class = "form-control", @id = "Gtin" })
                            </div>
                        </div>
                    </div>

                    <!--Yayınlandı mı-->
                    <div class="col-md-12">
                        <div class="row">
                            <label class="col-sm-3 col-form-label text-sm-start" for="Published">Yayınlandı</label>
                            <div class="col-sm-9">
                                <label class="switch switch-lg">
                                    @Html.CheckBoxFor(m => m.Published, new { @class = "switch-input" })
                                    <span class="switch-toggle-slider">
                                        <span class="switch-on"></span>
                                        <span class="switch-off"></span>
                                    </span>
                                </label>
                            </div>
                        </div>
                    </div>
                    <hr class="my-4 mx-n4">

                    <!-- Fiyat -->
                    <div class="col-md-12">
                        <div class="row">
                            <label class="col-sm-3 col-form-label text-sm-start" for="Price">Fiyat</label>
                            <div class="col-sm-9">
                                @Html.TextBoxFor(m => m.Price, new { @class = "form-control", @type = "number", step = "0.01", @id = "Price" })
                            </div>
                        </div>
                    </div>
                    <!-- Para Birimi -->
                    <div class="col-md-12">
                        <div class="row">
                            <label class="col-sm-3 col-form-label text-sm-start" for="Currency">Para Birimi</label>
                            <div class="col-sm-9">
                                <select asp-for="Currency" asp-items="ViewBag.Currencies" class="form-select">
                                    <option>Belirtilmemiş</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <!-- Kdv Dahil Mi -->
                    <div class="col-md-12">
                        <div class="row align-items-center">
                            <label class="col-sm-3 col-form-label text-sm-start" for="VatInc">KDV Dahil</label>
                            <div class="col-sm-9">
                                <div class="form-check">
                                    @Html.CheckBoxFor(m => m.VatInc, new { @class = "form-check-input", @id = "VatInc" })
                                    <label class="form-check-label" for="VatInc">Evet</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Kdv Oranı -->
                    <div class="col-md-12">
                        <div class="row">
                            <label class="col-sm-3 col-form-label text-sm-start" for="VatRate">KDV Oranı (%)</label>
                            <div class="col-sm-9">
                                <select asp-for="VatRate" asp-items="ViewBag.VatRates" class="form-select"></select>
                            </div>
                        </div>
                    </div>
                    <hr class="my-4 mx-n4">
                    <!-- Birim -->
                    <div class="col-md-12">
                        <div class="row">
                            <label class="col-sm-3 col-form-label text-sm-start" for="Unit">Birim</label>
                            <div class="col-sm-9">
                                <select asp-for="Unit" asp-items="ViewBag.Units" class="form-select">
                                    <option>Belirtilmemiş</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <!-- Ağırlık -->
                    <div class="col-md-12">
                        <div class="row">
                            <label class="col-sm-3 col-form-label text-sm-start" for="Weight">Ağırlık (kg)</label>
                            <div class="col-sm-9">
                                @Html.TextBoxFor(m => m.Weight, new { @class = "form-control", @type = "number", step = "0.01", @id = "Weight" })
                            </div>
                        </div>
                    </div>
                    <!-- Uzunluk -->
                    <div class="col-md-12">
                        <div class="row">
                            <label class="col-sm-3 col-form-label text-sm-start" for="Length">Uzunluk (cm)</label>
                            <div class="col-sm-9">
                                @Html.TextBoxFor(m => m.Length, new { @class = "form-control", @type = "number", step = "0.01", @id = "Length" })
                            </div>
                        </div>
                    </div>
                    <!-- Genişlik -->
                    <div class="col-md-12">
                        <div class="row">
                            <label class="col-sm-3 col-form-label text-sm-start" for="Width">Genişlik (cm)</label>
                            <div class="col-sm-9">
                                @Html.TextBoxFor(m => m.Width, new { @class = "form-control", @type = "number", step = "0.01", @id = "Width" })
                            </div>
                        </div>
                    </div>
                    <!-- Yükseklik -->
                    <div class="col-md-12">
                        <div class="row">
                            <label class="col-sm-3 col-form-label text-sm-start" for="Height">Yükseklik (cm)</label>
                            <div class="col-sm-9">
                                @Html.TextBoxFor(m => m.Height, new { @class = "form-control", @type = "number", step = "0.01", @id = "Height" })
                            </div>
                        </div>
                    </div>

                    <hr class="my-4 mx-n4">

                    <!-- Açıklama -->
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-sm-12">
                                <div id="full-editor">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Stok -->
            <div class="tab-pane fade" id="form-tabs-stock" role="tabpanel">
                <div class="row g-3 p-3">
                    <!-- Stok Miktarı -->
                    <div class="col-md-12">
                        <div class="row">
                            <label class="col-sm-3 col-form-label text-sm-start" for="StockQuantity">Stok</label>
                            <div class="col-sm-9">
                                @Html.TextBoxFor(m => m.StockQuantity, new { @class = "form-control", @type = "number", min = "0", @id = "StockQuantity" })
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Varyantlar -->
            <div class="tab-pane fade" id="form-tabs-variants" role="tabpanel">
                @if (Model.Id > 0)
                {
                    <div class="row g-3 p-3">
                        <div class="col-md-12">
                            <div class="row">
                                <label class="col-sm-3 col-form-label text-sm-start" for="SelectedProductAttributeIds">Varyantlar</label>
                                <div class="col-sm-9">
                                    <select asp-for="SelectedProductAttributeIds" asp-items="ViewBag.ProductAttributes" multiple="multiple" class="form-select">
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row g-3 p-3">
                        <div id="ProductVariantAttributeCombinationRepeater">
                            <div data-repeater-list="ProductVariantAttributeCombinations">
                                <div data-repeater-item class="repeater-wrapper pt-0 pt-md-4">
                                    <div class="d-flex border rounded position-relative pe-0">
                                        <div class="row w-100 p-3">
                                            <!-- Nested Attributes -->
                                            <div class="AttributesRepeater">
                                                <div data-repeater-list="Attributes">
                                                    @foreach (var productAttribute in Model.ProductAttributeMappings)
                                                    {
                                                        <div data-repeater-item class="repeater-wrapper row mb-2" data-attribute-id="@productAttribute.ProductAttributeId">
                                                            <input type="hidden" name="ProductAttributeId" value="@productAttribute.ProductAttributeId" />
                                                            <div class="col-md-2 col-12 mb-md-0 mb-3">
                                                                <p class="mb-2 repeater-title">@productAttribute.ProductAttribute</p>
                                                                <select name="ProductAttributeValueId" class="form-select item-details mb-3">
                                                                    @foreach (var val in productAttribute.Attribute.Values)
                                                                    {
                                                                        <option value="@val.Id">@val.Name</option>
                                                                    }
                                                                </select>
                                                            </div>

                                                        </div>
                                                    }
                                                </div>
                                            </div>

                                            <!-- Variant Fields -->
                                            <div class="col-md-2">
                                                <p>Stok Kodu</p>
                                                <input name="StokCode" type="text" class="form-control" />
                                            </div>
                                            <div class="col-md-2">
                                                <p>Üretici Kodu</p>
                                                <input name="ManufacturerPartNumber" type="text" class="form-control" />
                                            </div>
                                            <div class="col-md-2">
                                                <p>Gtin</p>
                                                <input name="Gtin" type="text" class="form-control" />
                                            </div>
                                            <div class="col-md-2">
                                                <p>Fiyat</p>
                                                <input name="Price" type="text" class="form-control" />
                                            </div>
                                            <div class="col-md-2">
                                                <p>Stok Miktarı</p>
                                                <input name="StockQuantity" type="text" class="form-control" />
                                            </div>
                                        </div>
                                        <div class="d-flex flex-column align-items-center justify-content-between border-start p-2">
                                            <i class="icon-base ti ti-x icon-lg cursor-pointer" data-repeater-delete=""></i>
                                        </div>
                                    </div>

                                </div>
                            </div>

                            @if (Model.ProductAttributeMappings.Any())
                            {
                                <div class="col-12 mt-2 p-3">
                                    <button type="button" class="btn btn-primary" data-repeater-create>Yeni Varyant</button>
                                </div>
                            }
                        </div>
                    </div>
                }
                else
                {
                    <div class="alert alert-danger">
                        Bu ürüne varyant eklemek için önce ürünü kaydetmeniz gerekmektedir.
                    </div>
                }
            </div>

            <!-- Arama Motorları (SEO) -->
            <div class="tab-pane fade" id="form-tabs-seo" role="tabpanel">
                <div class="row g-3 p-3">
                    <!-- Meta Başlık -->
                    <div class="col-md-12">
                        <div class="row">
                            <label class="col-sm-3 col-form-label text-sm-start" for="MetaTitle">Meta Başlık</label>
                            <div class="col-sm-9">
                                @Html.TextBoxFor(m => m.MetaTitle, new { @class = "form-control", @id = "MetaTitle" })
                            </div>
                        </div>
                    </div>
                    <!-- Anahtar Kelimeler -->
                    <div class="col-md-12">
                        <div class="row">
                            <label class="col-sm-3 col-form-label text-sm-start" for="MetaKeywords">Anahtar Kelimeler</label>
                            <div class="col-sm-9">
                                @Html.TextBoxFor(m => m.MetaKeywords, new { @class = "form-control", @id = "MetaKeywords" })
                            </div>
                        </div>
                    </div>
                    <!-- Meta Açıklama -->
                    <div class="col-md-12">
                        <div class="row">
                            <label class="col-sm-3 col-form-label text-sm-start" for="MetaDescription">Meta Açıklama</label>
                            <div class="col-sm-9">
                                @Html.TextAreaFor(m => m.MetaDescription, new { @class = "form-control", rows = 3, @id = "MetaDescription" })
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Resimler -->
            <div class="tab-pane fade" id="form-tabs-image" role="tabpanel">
                @if (Model.Id > 0)
                {
                    <div class="row g-3 p-3">
                        <div class="col-12">
                            <div class="fu-container xl">
                                <div>
                                    <div class="fu-controls">
                                        <div class="dropzone-container">
                                            <div class="dropzone-target">
                                                <div class="dropzone-file-info d-flex align-items-center">
                                                    <div class="fu-message text-truncate empty" title="Dosya yükle">
                                                        Dosya yükle
                                                    </div>


                                                </div>

                                                <div id="upload-1388498530" class="fu-fileupload" data-dialog-url="/media/fileconflictresolutiondialog/" data-assignment-url="/product/productmediafilesadd/?Length=5" data-remove-url="/product/productpicturedelete/?Length=5" data-sort-url="/product/sortpictures/?Length=5" data-entity-id="@Model.Id" data-type-filter="image,video" data-upload-url="/media/upload/?isTransient=False&amp;path=catalog&amp;entityType=Product" data-accept=".avif,.bmp,.gif,.ico,.jfif,.jpeg,.jpg,.png,.svg,.webp,.3gp,.asf,.avi,.flv,.m4v,.mkv,.mov,.mp4,.mpeg,.mpg,.ogv,.webm,.wmv" data-show-remove-after-upload="true">
                                                    <input type="hidden" id="upload-1388498530-file" name="upload-1388498530-file">

                                                    <div class="fu-buttons">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <!-- Placeholder to paste preview container into -->
                                        <div id="preview-106864758" class="d-flex flex-wrap preview-container mt-3">
                                            @foreach (var item in Model.ProductMediaFiles.OrderBy(m=>m.DisplayOrder))
                                            {
                                                <div class="fu-file-preview dz-image-preview dz-success dz-complete shadow-sm" data-display-order="@item.DisplayOrder" data-media-id="@item.MediaFileId" data-media-name="@item.MediaFile.Name" data-entity-media-id="@item.Id">

                                                    <span class="main-pic-badge badge badge-success">Ana medya dosyası</span>
                                                    <figure class="file-figure d-flex m-0 align-items-center justify-content-center file-thumb show loaded" data-type="image">
                                                        <i class="file-icon fa-fw show d-none"></i>
                                                        <img class="file-img" data-dz-thumbnail="" src="@item.MediaFile.Url">
                                                    </figure>
                                                    <!-- Media gallery preview overlay -->
                                                    <div class="fu-file-info-container d-flex flex-column w-100 h-100 justify-content-between">
                                                        <div class="drag-gripper align-middle">
                                                            <i class="drag-icon fas fa-grip-vertical fs-h5 text-white p-0 text-center"></i>
                                                        </div>
                                                        <div class="fu-file-info h-100 w-100 d-flex position-absolute justify-content-center align-items-center">
                                                            <div class="fu-file-info-name text-white font-weight-medium text-center">@item.MediaFile.Name</div>
                                                        </div>
                                                        <div class="fu-preview-control-menu w-100 d-flex flex-wrap justify-content-between px-2 pb-2 pt-0">
                                                            <a href="#" class="fu-preview-control-set set-main-picture btn btn-sm btn-clear btn-3d btn-action btn-icon" title="Ana resim olarak ayarla">
                                                                <i class="fa fa-image fs-h6"></i>
                                                            </a>
                                                            <a href="#" class="fu-preview-control-remove delete-entity-picture btn btn-sm btn-clear btn-3d btn-action" title="Medyayı kaldır">
                                                                <span class="fs-sm">Kaldır</span>
                                                            </a>
                                                        </div>
                                                    </div>
                                                    <div class="fu-progress">
                                                        <!-- The file progress bar -->
                                                        <div class="progress">
                                                            <div class="progress-bar" role="progressbar" style="width: 0%" aria-valuemin="0" aria-valuemax="100"></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            }
                                        </div>
                                        <div class="file-preview-template d-none">
                                            <div class="fu-file-preview dz-image-preview shadow-sm">
                                                <span class="main-pic-badge badge badge-success">Ana medya dosyası</span>
                                                <figure class="file-figure d-flex m-0 align-items-center justify-content-center file-thumb show loaded" data-type="">
                                                    <i class="file-icon fa-fw show d-none"></i>
                                                    <img class="file-img" data-dz-thumbnail="">
                                                </figure>
                                                <!-- Media gallery preview overlay -->
                                                <div class="fu-file-info-container d-flex flex-column w-100 h-100 justify-content-between">
                                                    <div class="drag-gripper align-middle">
                                                        <i class="drag-icon fas fa-grip-vertical fs-h5 text-white p-0 text-center"></i>
                                                    </div>
                                                    <div class="fu-file-info h-100 w-100 d-flex position-absolute justify-content-center align-items-center">
                                                        <div class="fu-file-info-name text-white font-weight-medium text-center"></div>
                                                    </div>
                                                    <div class="fu-preview-control-menu w-100 d-flex flex-wrap justify-content-between px-2 pb-2 pt-0">
                                                        <a href="#" class="fu-preview-control-set set-main-picture btn btn-sm btn-clear btn-3d btn-action btn-icon" title="Ana resim olarak ayarla">
                                                            <i class="fa fa-image fs-h6"></i>
                                                        </a>
                                                        <a href="#" class="fu-preview-control-remove delete-entity-picture btn btn-sm btn-clear btn-3d btn-action" title="Medyayı kaldır">
                                                            <span class="fs-sm">Kaldır</span>
                                                        </a>
                                                    </div>
                                                </div>
                                                <div class="fu-progress">
                                                    <!-- The file progress bar -->
                                                    <div class="progress">
                                                        <div class="progress-bar" role="progressbar" style="width: 0%" aria-valuemin="0" aria-valuemax="100"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="fu-progress">
                                    <!-- The single upload progress bar -->
                                    <div class="progress">
                                        <div class="progress-bar" role="progressbar" style="width: 0%" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
                else
                {
                    <div class="alert alert-danger">
                        Bu ürüne resim yüklemek için önce ürünü kaydetmeniz gerekmektedir.
                    </div>
                }
            </div>

            <!--Kategori Eşleştirmeleri-->
            <div class="tab-pane fade" id="form-tabs-categories" role="tabpanel">
                @if (Model.Id > 0)
                {
                    <div class="row g-3 p-3">
                        <div class="d-flex justify-content-end">
                            <button type="button" class="btn btn-primary btn-sm" data-bs-toggle="modal" data-bs-target="#ProductCategoryModel">
                                Ürün Kategorisi Ekle
                            </button>
                        </div>

                        <table class="table table-bordered" id="productCategoryTable">
                            <thead>
                                <tr>
                                    <th>Kategori Yolu</th>
                                    <th>Sırası</th>
                                    <th>İşlemler</th>
                                </tr>
                            </thead>
                            <tbody class="table-border-bottom-3"></tbody>
                        </table>
                    </div>

                }
                else
                {
                    <div class="alert alert-danger">
                        Bu ürüne kategori eklemek için önce ürünü kaydetmeniz gerekmektedir.
                    </div>
                }
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="ProductCategoryModel" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-simple modal-edit-user modal-dialog-centered">
        <div class="modal-content p-3 p-md-5">
            <div class="modal-body">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                <div class="text-center mb-4">
                    <h3 class="mb-2">Ürün Kategorisi Ekle</h3>
                </div>

                <div id="productCategoryForm" class="row g-3">
                    <input type="hidden" id="ProductId" value="@Model?.Id" />

                    <div class="col-md-12 mt-3">
                        <div class="row">
                            <label class="col-sm-3 col-form-label text-sm-start" for="CategoryId">Kategori</label>
                            <div class="col-sm-9">
                                <select id="CategoryId" class="select2 form-select form-select-lg"></select>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-12 mt-3">
                        <div class="row">
                            <label class="col-sm-3 col-form-label text-sm-start" for="DisplayOrder">Sıra</label>
                            <div class="col-sm-9">
                                <input type="number" id="DisplayOrder" class="form-control" value="0" />
                            </div>
                        </div>
                    </div>

                    <div class="col-12 text-center mt-3">
                        <button type="button" id="btnSaveProductCategory" class="btn btn-primary me-sm-3 me-1">Kaydet</button>
                        <button type="button" class="btn btn-label-secondary" data-bs-dismiss="modal" aria-label="Close">Kapat</button>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>


